@import 'reset';
@import 'breakpoints';
@import 'globals';
@import 'owl';

p{
  line-height: 1.5;
}
/* Vars
   ========================================================================== */
$green: #7fb23c;
$black: #212121;

/* Site specific
   ========================================================================== */


body{
  &.pace-delay{
    .welcome{
      opacity: 0;
      pointer-events: none;
    }
  }
}
/* Welcome
   ========================================================================== */
.welcome{
  transition: opacity .6s;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  &:after{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .75);
    display: block;
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.welcome-bg{
  position: absolute;
  content: '';
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.welcome__container{
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate3d(-50%, -50%, 0);
}

.welcome__logo{
  width: 400px;
}

.welcome__title{
  color: #fff;
  font-size: 40px;
  margin-top: 30px;
}

.welcome__note{
  position: absolute;
  left: 50%;
  z-index: 1;
  bottom: 50px;
  transform: translateX(-50%);
  color: #fff;
  font-size: 18px;
}

/* Nav
   ========================================================================== */

.nav{
  width: 250px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: $black;
  padding: 20px 0;
  text-align: center;
}


.nav__logo{
  height: 100px;
  padding: 10px 0;
}


.nav__links{
  text-align: left;
  padding-top: 20px;
  height: calc(100vh - 75px - 120px - 45px - 40px);
  overflow-y: scroll;
  li{

  }

  a{
    color: #fff;
    text-decoration: none;
    padding: 20px 30px;
    display: block;
    transition: background 0.3s;
    &:hover{
      background: lighten(#212121, 5%);
    }
  }
}



.nav__emergency{
  height: 75px;
  color: $green;
  text-align: left;
  padding: 0 30px;
  padding-top: 15px;
  h4{
    font-weight: bold;
  }
}

.nav__socials{
  height: 45px;
}


.about, .landing, .abattage, .elagage, .deboisement, .grue, .rognage, .equipement, .contact {
  width: calc(100% - 250px);
  min-height: 100vh;
  position: relative;
  margin-left: 250px;
}

/* landing
   ========================================================================== */

.landing{
  background: url(assets/bg.jpg) no-repeat center center;
  background-size: cover;
}

.landing__vignette{
  background: rgba($green, 0.9);
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 100px;
  color: #fff;
  padding: 25px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;

  h4{
    color: #172927;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  ul{
    border-left: 1px solid #fff;
    padding-left: 20px;
    margin-left: 100px;
  }

  .vignette__phone{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
  }
  .vignette__schedule{
    font-size: 18px;
    margin-bottom: 5px;
  }
  .vignette__text{
    font-size: 14px;
  }
}


/* About
   ========================================================================== */
.about{
  background: #fff;

}
.about__desc{
  background: $green;
  padding: 100px 0;
  z-index: -1;
  text-align: center;
  p{
    width: 65%;
    text-align: left;
    display: inline-block;
    line-height: 1.5;
    font-size: 18px;
    color: #fff;
  }
}



.about__ryan{
  width: 100%;
  text-align: center;
  padding-top: 150px;
  font-size: 0;
  img{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    vertical-align: middle;
  }

  h4{
    color: $green;
    font-size: 26px;
    margin-bottom: 20px;
    display: inline-block;
    &:after{
      width: 25%;
      margin-left: 2px;
      height: 1px;
      content: '';
      position: relative;
      display: block;
      margin-top: 20px;
      background: $green;
    }
  }
}

.about__ryan-container{
  display: inline-block;
  margin: 0 auto;
  width: 50%;
}

.about__text{
  display: inline-block;
  width: calc(100% - 200px);
  padding-left: 50px;
  text-align: left;
  vertical-align: middle;
  p{
    font-size: 16px;

  }
}

/* Section
   ========================================================================== */
.section__container{
  max-width: 65%;
  margin: 0 auto;
  z-index: 2;
  padding: 100px 0;
  text-align: center;
  position: relative;
  h3{
    margin-bottom: 20px;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    text-align: center;
    &:after{
      background: $green;
      height: 2px;
      width: 50%;
      content: '';
      display: inline-block;
      margin-top: 20px;
    }
  }
}

.section__desc{
  margin-bottom: 50px;
}

/* Abattage
   ========================================================================== */

.abattage{
  background: url('assets/bg.jpg') no-repeat center center;
  background-size: cover;
  h3{
    color: $green;
  }
  p{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
  }
  &:after{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .60);
    display: block;
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.abattage__note{
  position: absolute;
  bottom: 0;
  right: 20px;
  p{
    font-size: 14px;
    font-weight: 400;
  }
}


/* owl
   ========================================================================== */

.owl-element{
  padding: 20px;
}

.owl-img{
  height: 250px;
  content: '';
}

.owl-carousel__container{
  position: relative;
}

.owl-nav{
  color: #fff;
}

.owl-prev, .owl-next{
  top: 50%;
  transform: translateY(-50%) scale(3);
  position: absolute;
}

.owl-prev{
  left: -20px;
}

.owl-next{
  right: -20px;
}

/* contact
   ========================================================================== */

.contact{
  background: $black;
  color: #fff;

  .section__container{
    height: 100vh;
    position: relative;
  }

  h2{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  ul{
    margin-bottom: 30px;
    li{
      letter-spacing: 2px;
      margin-bottom: 5px;
    }
  }
  img{
    max-width: 250px;
  }
}

.contact__content{
  position: absolute;
  top: 50%;
  left: calc(50% - 125px);
  transform: translateY(-50%) translateX(-50%);
}