<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Le sauvage vert | Abattage - Elagage - Déboisement">
    <title>Le sauvage vert | Abattage - Elagage - Déboisement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">{% load static %}
    <link rel="stylesheet" href="{% static 'import.css' %}">
  </head>
  <body class="body">
    <div class="background-fixed" style="background: url('{% static 'bg.jpg' %}') no-repeat center center;  background-size: cover;">  
      <div id="background-after" ></div>
  </div>
    <section class="welcome" style="background: #000;">
      <div class="welcome-bg" style="background: url('{% static 'b.jpg' %}') no-repeat center center;  background-size: cover;"></div>
      <div class="welcome__container"><img class="welcome__logo" src="{% static 'logo.png' %}">
        <h1 class="welcome__title">A votre service et au service de la nature</h1>
      </div>
      <p class="welcome__note">ABATTAGE - ELAGAGE - DEBOISEMENT</p>
    </section>
    <nav class="nav"><img class="nav__logo" src="{% static 'logo.png' %}">
      <ul class="nav__links">
        <li><a class="scrollTo" href="#about" data-color="transparent">A propos</a></li>
        <li><a class="scrollTo" href="#abattage" data-color="white">Abattage</a></li>
        <li><a class="scrollTo" href="#elagage">Elagage</a></li>
        <li><a class="scrollTo" href="#deboisement">Déboisement</a></li>
        <li><a class="scrollTo" href="#grue">Démontage à la grue</a></li>
        <li><a class="scrollTo" href="#rognage">Rognage des souches</a></li>
        <li><a class="scrollTo" href="#equipement">Equipement</a></li>
        <li><a class="scrollTo" href="#contact">Contact</a></li>
      </ul>
      <div class="nav__emergency">
        <h4>URGENCES</h4>
        <p>0472/40.68.31</p>
      </div>
      <ul class="nav__socials">
        <li><a href="#"><img src="{% static 'fb.png' %}" alt="Logo facebook"></a></li>
        <li><a href="#"><img src="{% static 'ig.png' %}" alt="Logo instagram"></a></li>
      </ul>
    </nav>

    <div class="hamburger">
      <a href="#" class="toggler">Menu</a>
    </div>
    <section class="landing" style="background: transparent">
      <div class="landing__vignette">
        <h4>Arbre menaçant ou dangereux ?</h4>
        <ul>
          <li class="vignette__phone">0472/40.68.31</li>
          <li class="vignette__schedule">7/7 et 24h/24</li>
          <li class="vignette__text">Et partout en Belgique !</li>
        </ul>
      </div>
    </section>
    <section class="about" id="about" data-color="transparent">
      <div class="about__desc">
        <p><span>Société située au cœur du Brabant Wallon,</span>nous nous déplaçons chez vous afin de déterminer l’état de vos arbres et d’établir un devis ajusté en ayant toujours pour but le respect de la nature et de votre environnement.</p>
      </div>
      <div class="about__ryan">
        <div class="about__ryan-container"><img src="{% static 'ryan.jpg' %}">
          <div class="about__text">
            <h4>Ryan Sauvage</h4>
            <p>Depuis mon plus jeune âge, la nature et les arbres m’ont toujours passionné. Attiré par le travail en plein air et le plaisir de grimper aux arbres, c’est en toute logique que j’ai créé ma société.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- ABATTAGE-->
    <section class="abattage" id="abattage" style="background: transparent" data-color="black">
      <div class="section__container">
        <h3>Abattage</h3>
        <p class="section__desc">Nous abattons vos arbres dangereux ou malades dans des espaces dégagés. Nous procédons aussi par démontage avec rétention dans les endroits plus confinés.</p>
        <div class="owl-carousel__container">
          <div class="owl-carousel owl-theme" style="font-size: 20px">
            {% for abattage in abattages.all %}
                <div class="owl-element">
                    <div class="owl-img" style="background: url('{{abattage.image.url}}') no-repeat center center; background-size: cover;"></div>
                </div>
            {% endfor %}
            
          </div>
          <div class="abattage__note">
            <p>* Tous nos chantiers sont nettoyés et les déchets évacués</p>
          </div>
        </div>
      </div>
    </section>
    <!-- ELAGAGE-->
    <section class="abattage" id="elagage" style="background: transparent" data-color="white">
      <div class="section__container">
        <h3>Elagage</h3>
        <p class="section__desc">Pour la santé de vos arbres remarquables et la beauté de leur silhouette, nous en effectuons une taille douce en allégeant les branches et en retirant le bois mort. Nous élaguons également les arbres envahissants afin de procurer de la lumière à votre propriété.</p>
        <div class="owl-carousel__container">
          <div class="owl-carousel owl-theme" style="font-size: 20px">
            {% for elagage in elagages.all %}
                <div class="owl-element">
                    <div class="owl-img" style="background: url('{{elagage.image.url}}') no-repeat center center; background-size: cover;"></div>
                </div>
            {% endfor %}
            
            
          </div>
        </div>
      </div>
    </section>
    <!-- DEBOISEMENT-->
    <section class="abattage" id="deboisement" style="background: transparent" data-color="green">
      <div class="section__container">
        <h3>Déboisement</h3>
        <p class="section__desc">Vous avez envie de construire sur un terrain boisé, nous pouvons procéder à l’élimination des arbres et des racines afin de dégager l’espace à bâtir.</p>
        <div class="owl-carousel__container">
          <div class="owl-carousel owl-theme" style="font-size: 20px">
            {% for deboisement in deboisements.all %}
                <div class="owl-element">
                    <div class="owl-img" style="background: url('{{deboisement.image.url}}') no-repeat center center; background-size: cover;"></div>
                </div>
            {% endfor %}
            
          </div>
          <div class="abattage__note">
            <p>* Tous nos chantiers sont nettoyés et les déchets évacués</p>
          </div>
        </div>
      </div>
    </section>
    <!-- GRUE-->
    <section class="abattage" id="grue" style="background: transparent" data-color="black">
      <div class="section__container">
        <h3>Démontage à la grue</h3>
        <p class="section__desc">La grue est utilisée principalement dans les endroits inaccessibles et pour préserver les propriétés avoisinantes : technique peu courante dont nous faisons notre spécialité.</p>
        <div class="owl-carousel__container">
            <div class="owl-carousel owl-theme" style="font-size: 20px">
              {% for grue in grues.all %}
                  <div class="owl-element">
                      <div class="owl-img" style="background: url('{{grue.image.url}}') no-repeat center center; background-size: cover;"></div>
                  </div>
              {% endfor %}
              
            </div>
          </div>
      </div>
    </section>
    <!-- ROGNAGE-->
    <section class="abattage" id="rognage" style="background: transparent" data-color="green">
      <div class="section__container">
        <h3>Rognage des souches</h3>
        <p class="section__desc">Pour parachever les travaux d’abattage, nous vous proposons l’élimination des souches par rognage et gyrobroyage, ce qui rendra le terrain prêt à toute nouvelle plantation.</p>
        <div class="owl-carousel__container">
          <div class="owl-carousel owl-theme" style="font-size: 20px">
            {% for rognage in rognages.all %}
                <div class="owl-element">
                    <div class="owl-img" style="background: url('{{rognage.image.url}}') no-repeat center center; background-size: cover;"></div>
                </div>
            {% endfor %}
            
          </div>
        </div>
      </div>
    </section>
    <!-- EQUIPEMENT-->
    <section class="abattage" id="equipement" style="background: transparent" data-color="white">
      <div class="section__container">
        <h3>Equipement</h3>
        <p class="section__desc">Nous travaillons avec un matériel de pointe adapté à toutes situations, pour vous offrir un résultat impeccable et répondant à vos attentes.</p>
        <div class="owl-carousel__container">
          <div class="owl-carousel owl-theme" style="font-size: 20px">
            {% for equipement in equipements.all %}
                <div class="owl-element">
                    <div class="owl-img" style="background: url('{{equipement.image.url}}') no-repeat center center; background-size: cover;"></div>
                </div>
            {% endfor %}
            
          </div>
        </div>
      </div>
    </section>
    <!-- CONTACT-->
    <section class="contact" id="contact">
      <div class="section__container">
        <div class="contact__content">
          <div class="contact__anim">
          <h2>Le sauvage vert SPRL</h2>
          <ul class="contact__adress">
            <li>Rue du Charron, 87</li>
            <li>1420 Braine-l’Alleud</li>
            <li>TVA: 0668 530 532</li>
          </ul>
          <ul class="contact__schedule">
            <li>Ouverture du Lundi au vendredi</li>
            <li>9h>18h</li>
          </ul><img src="{% static 'logo.png' %}">
        </div>
        </div>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="{% static 'owl.carousel.min.js' %}"></script>
    <script src="{% static 'jquery.waypoints.min.js' %}"></script> 
    <script src="{% static 'pace.min.js' %}"></script>
    <script src="{% static 'app.js' %}"></script>
  </body>
</html>