extends layout.pug


block content

    section.welcome(style="background: url('{% static 'bg.jpg' %}') no-repeat center center;  background-size: cover;")
        div.welcome__container
            img.welcome__logo(src="{% static 'logo.png' %}")
            h1.welcome__title A votre service et au service de la nature
        p.welcome__note ABATTAGE - ELAGAGE - DEBOISEMENT


    nav.nav
        img.nav__logo(src="{% static 'logo.png' %}")
        ul.nav__links
            li
                a(href="#") Home
            li
                a(href="#") A propos
            li
                a(href="#") Abattage
            li
                a(href="#") Elagage
            li
                a(href="#") Déboisement
            li
                a(href="#") Démontage à la grue
            li
                a(href="#") Rognage des souches
            li
                a(href="#") Equipement
            li
                a(href="#") Contact
        div.nav__emergency
            h4 URGENCES
            p 0472/40.68.31

        ul.nav__socials
            li
                a(href="#") Fa
            li
                a(href="#") Ig

    section.landing(style="background: url('{% static 'bg.jpg' %}') no-repeat center center;  background-size: cover;")
        div.landing__vignette
            h4 Arbre menaçant ou dangereux ?
            ul
                li.vignette__phone 0472/40.68.31
                li.vignette__schedule 7/7 et 24h/24
                li.vignette__text Et partout en Belgique !


    section.about
        div.about__desc
            p
                span Société située au cœur du Brabant Wallon,
                | nous nous déplaçons chez vous afin de déterminer l’état de vos arbres et d’établir un devis ajusté en ayant toujours pour but le respect de la nature et de votre environnement.


        div.about__ryan
            div.about__ryan-container
                img(src="{% static 'ryan.jpg' %}")
                div.about__text
                    h4 Ryan Sauvage
                    p Depuis mon plus jeune âge, la nature et les arbres m’ont toujours passionné. Attiré par le travail en plein air et le plaisir de grimper aux arbres, c’est en toute logique que j’ai créé ma société.

    section.abattage(style="background: url('{% static 'bg.jpg' %}') no-repeat center center;  background-size: cover;")
        div.section__container
            h3 Abattage
            p.section__desc Nous abattons vos arbres dangereux ou malades dans des espaces dégagés. Nous procédons aussi par démontage avec rétention dans les endroits plus confinés.

            div.owl-carousel__container
                div.owl-carousel.owl-theme(style="font-size: 20px").
                    {% for deboisement in deboisements.all %}
                        <div class="owl-element">
                            <div class="owl-img" style="background: url('{{deboisement.image.url}}') no-repeat center center; background-size: cover;"></div>
                        </div>
                    {% endfor %}

                div.abattage__note
                    p * Tous nos chantiers sont nettoyés et les déchets évacués