extends layout.pug


block content

    section.welcome(style="background: #000;")
        div.welcome-bg(style="background: url('{% static 'b.jpg' %}') no-repeat center center;  background-size: cover;")
        div.welcome__container
            img.welcome__logo(src="{% static 'logo.png' %}")
            h1.welcome__title A votre service et au service de la nature
        p.welcome__note ABATTAGE - ELAGAGE - DEBOISEMENT


    nav.nav
        img.nav__logo(src="{% static 'logo.png' %}")
        ul.nav__links
            li
                a.scrollTo(href="#about") A propos
            li
                a.scrollTo(href="#abattage") Abattage
            li
                a.scrollTo(href="#elagage") Elagage
            li
                a.scrollTo(href="#deboisement") Déboisement
            li
                a.scrollTo(href="#grue") Démontage à la grue
            li
                a.scrollTo(href="#rognage") Rognage des souches
            li
                a.scrollTo(href="#equipement") Equipement
            li
                a.scrollTo(href="#contact") Contact
        div.nav__emergency
            h4 URGENCES
            p 0472/40.68.31

        ul.nav__socials
            li
                a(href="#") Fa
            li
                a(href="#") Ig

    section.landing(style="background: url('{% static 'bg.jpg' %}') no-repeat center center;  background-size: cover;")
        div.landing__vignette
            h4 Arbre menaçant ou dangereux ?
            ul
                li.vignette__phone 0472/40.68.31
                li.vignette__schedule 7/7 et 24h/24
                li.vignette__text Et partout en Belgique !


    section.about#about
        div.about__desc
            p
                span Société située au cœur du Brabant Wallon,
                | nous nous déplaçons chez vous afin de déterminer l’état de vos arbres et d’établir un devis ajusté en ayant toujours pour but le respect de la nature et de votre environnement.


        div.about__ryan
            div.about__ryan-container
                img(src="{% static 'ryan.jpg' %}")
                div.about__text
                    h4 Ryan Sauvage
                    p Depuis mon plus jeune âge, la nature et les arbres m’ont toujours passionné. Attiré par le travail en plein air et le plaisir de grimper aux arbres, c’est en toute logique que j’ai créé ma société.

    // ABATTAGE
    section.abattage#abattage(style="background: url('{% static 'bg.jpg' %}') no-repeat center center;  background-size: cover;")
        div.section__container
            h3 Abattage
            p.section__desc Nous abattons vos arbres dangereux ou malades dans des espaces dégagés. Nous procédons aussi par démontage avec rétention dans les endroits plus confinés.

            div.owl-carousel__container
                div.owl-carousel.owl-theme(style="font-size: 20px").
                    {% for abattage in abattages.all %}
                        <div class="owl-element">
                            <div class="owl-img" style="background: url('{{abattage.image.url}}') no-repeat center center; background-size: cover;"></div>
                        </div>
                    {% endfor %}

                div.abattage__note
                    p * Tous nos chantiers sont nettoyés et les déchets évacués


    // ELAGAGE
    section.abattage#elagage(style="background: url('{% static 'bg.jpg' %}') no-repeat center center;  background-size: cover;")
        div.section__container
            h3 Elagage
            p.section__desc Pour la santé de vos arbres remarquables et la beauté de leur silhouette, nous en effectuons une taille douce en allégeant les branches et en retirant le bois mort. Nous élaguons également les arbres envahissants afin de procurer de la lumière à votre propriété.

            div.owl-carousel__container
                div.owl-carousel.owl-theme(style="font-size: 20px").
                    {% for elagage in elagages.all %}
                        <div class="owl-element">
                            <div class="owl-img" style="background: url('{{elagage.image.url}}') no-repeat center center; background-size: cover;"></div>
                        </div>
                    {% endfor %}


    // DEBOISEMENT

    section.abattage#deboisement(style="background: url('{% static 'bg.jpg' %}') no-repeat center center;  background-size: cover;")
        div.section__container
            h3 Déboisement
            p.section__desc Vous avez envie de construire sur un terrain boisé, nous pouvons procéder à l’élimination des arbres et des racines afin de dégager l’espace à bâtir.

            div.owl-carousel__container
                div.owl-carousel.owl-theme(style="font-size: 20px").
                    {% for deboisement in deboisements.all %}
                        <div class="owl-element">
                            <div class="owl-img" style="background: url('{{deboisement.image.url}}') no-repeat center center; background-size: cover;"></div>
                        </div>
                    {% endfor %}

                div.abattage__note
                    p * Tous nos chantiers sont nettoyés et les déchets évacués


    // GRUE
    section.abattage#grue(style="background: url('{% static 'bg.jpg' %}') no-repeat center center;  background-size: cover;")
        div.section__container
            h3 Démontage à la grue
            p.section__desc La grue est utilisée principalement dans les endroits inaccessibles et pour préserver les propriétés avoisinantes : technique peu courante dont nous faisons notre spécialité.

            h4 VIDEO


    // ROGNAGE

    section.abattage#rognage(style="background: url('{% static 'bg.jpg' %}') no-repeat center center;  background-size: cover;")
        div.section__container
            h3 Rognage des souches
            p.section__desc Pour parachever les travaux d’abattage, nous vous proposons l’élimination des souches par rognage et gyrobroyage, ce qui rendra le terrain prêt à toute nouvelle plantation.

            div.owl-carousel__container
                div.owl-carousel.owl-theme(style="font-size: 20px").
                    {% for rognage in rognages.all %}
                        <div class="owl-element">
                            <div class="owl-img" style="background: url('{{rognage.image.url}}') no-repeat center center; background-size: cover;"></div>
                        </div>
                    {% endfor %}

    // EQUIPEMENT
    section.abattage#equipement(style="background: url('{% static 'bg.jpg' %}') no-repeat center center;  background-size: cover;")
        div.section__container
            h3 Equipement
            p.section__desc Nous travaillons avec un matériel de pointe adapté à toutes situations, pour vous offrir un résultat impeccable et répondant à vos attentes.

            div.owl-carousel__container
                div.owl-carousel.owl-theme(style="font-size: 20px").
                    {% for equipement in equipements.all %}
                        <div class="owl-element">
                            <div class="owl-img" style="background: url('{{equipement.image.url}}') no-repeat center center; background-size: cover;"></div>
                        </div>
                    {% endfor %}

    // CONTACT
    section.contact#contact
        div.section__container
            div.contact__content
                h2 Le sauvage vert SPRL
                ul.contact__adress
                    li Rue du Charron, 87
                    li 1420 Braine-l’Alleud
                    li TVA: 0668 530 532


                ul.contact__schedule
                    li Ouverture du Lundi au vendredi
                    li 9h>18h

                img(src="{% static 'logo.png' %}")
