extends layout.pug


block content

    section.welcome
        div.welcome__container
            img.welcome__logo(src="assets/logo.png")
            h1.welcome__title A votre service et au service de la nature
        p.welcome__note ABATTAGE - ELAGAGE - DEBOISEMENT


    nav.nav
        img.nav__logo(src="assets/logo.png")
        ul
            li
                a(href="#") Home
            li
                a(href="#") A propos
            li
                a(href="#") Abattage
            li
                a(href="#") Elagage
            li
                a(href="#") Déboisement
            li
                a(href="#") Démontage à la grue
            li
                a(href="#") Rognage des souches
            li
                a(href="#") Equipement
            li
                a(href="#") Contact

    section.landing